/* Full screen container */
.home-container {
  width: 100%;
  height: calc(100vh - 60px); /* adjust if navbar height changes */
  margin: 0;
  padding: 0;
}

/* Hero takes full remaining screen */
.hero-section {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background: linear-gradient(135deg, #3498db, #2c3e50);
  color: white;
}

/* Content */
.hero-content {
  max-width: 650px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-title .brand {
  color: #f1c40f;
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 35px;
  opacity: 0.9;
}

/* Buttons */
.hero-actions {
  display: flex;
  gap: 20px;
}

.hero-btn {
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #f1c40f;
  color: #2c3e50;
}

.primary-btn:hover {
    cursor: pointer;
  background-color: #d4ac0d;
}

.secondary-btn {
  border: 2px solid white;
  color: white;
}

.secondary-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #2c3e50;
}

/* Right icon */
.hero-image {
  font-size: 180px;
  opacity: 0.15;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .hero-image {
    font-size: 120px;
  }
}
